---
import { extendClass } from "../../utils";
import Text, { type TextDescription } from "./Text.astro";

export interface Props {
    className?: string;
    text: (string | (string | TextDescription)[])[];
}

const { className, text } = Astro.props;
---

{
    text.map((t) => (
        <p class={extendClass("md:text-lg indent-8", className)}>
            <Text text={t} />
        </p>
    ))
}
