@theme static {
    --*: initial;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-base-50: #f9f9f9;
    --color-base-100: #efefef;
    --color-base-200: #e6e6e6;
    --color-base-300: #dbdbdb;
    --color-base-400: #d1d1d1;
    --color-base-500: #c7c7c7;
    --color-base-600: #bdbdbd;
    --color-base-700: #b3b3b3;
    --color-base-800: #a8a8a8;
    --color-base-900: #9e9e9e;
    --color-base-950: #949494;
    --color-accent: #000000;
    --color-accent-light: #ffffff;
    --color-accent-dark: #000000;
    --color-accent-50: #ffffff;
    --color-accent-100: #c7c7c7;
    --color-accent-200: #b3b3b3;
    --color-accent-300: #949494;
    --color-accent-400: #707070;
    --color-accent-500: #545454;
    --color-accent-600: #3d3d3d;
    --color-accent-700: #292929;
    --color-accent-800: #1c1c1c;
    --color-accent-900: #141414;
    --color-accent-950: #000000;
    --color-primary: #228b22;
    --color-primary-50: #f1fcf1;
    --color-primary-100: #e0f9df;
    --color-primary-200: #c2f1c1;
    --color-primary-300: #92e491;
    --color-primary-400: #5acf59;
    --color-primary-500: #34b433;
    --color-primary-600: #228b22;
    --color-primary-700: #207521;
    --color-primary-800: #1e5d1f;
    --color-primary-900: #1a4d1b;
    --color-primary-950: #092a0b;
    --color-secondary: #1eadff;
    --color-secondary-50: #edfaff;
    --color-secondary-100: #d6f2ff;
    --color-secondary-200: #b5eaff;
    --color-secondary-300: #83dfff;
    --color-secondary-400: #48cbff;
    --color-secondary-500: #1eadff;
    --color-secondary-600: #068fff;
    --color-secondary-700: #007bff;
    --color-secondary-800: #085ec5;
    --color-secondary-900: #0d519b;
    --color-secondary-950: #0e315d;
    --color-cta: #ffd700;
    --color-cta-50: #ffffe7;
    --color-cta-100: #feffc1;
    --color-cta-200: #fffd86;
    --color-cta-300: #fff441;
    --color-cta-400: #ffe60d;
    --color-cta-500: #ffd700;
    --color-cta-600: #d19e00;
    --color-cta-700: #a67102;
    --color-cta-800: #89580a;
    --color-cta-900: #74480f;
    --color-cta-950: #442604;

    --text-inht: inherit;
    --text-inht--line-height: inherit;

    --breakpoint-md: 735px;
    --breakpoint-lg: 1068px;
    --breakpoint-max-content: 1366px;

    --container-content: 1326px;

    --spacing-0: 0;
    --spacing-inht: inherit;
    --spacing-header: 76px;
    --spacing-p-sm: 1.5rem;
    --spacing-padding: 20px;

    /* Tailwindcss */
    --spacing: 0.25rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;

    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;

    --default-transition-duration: 150ms;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --shadow-aesthetic: 0 3px 10px rgb(0, 0, 0, 0.2);
    --inset-shadow-dark: 0 1px 0 0 #ffffff0d;
}

@layer base {
    html,
    :host {
        min-width: 320px;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 17px;
        line-height: 1.4705882353;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.022em;
        -webkit-tap-highlight-color: transparent;
    }
    body {
        margin: 0;
    }
    body:lang(ja) {
        font-family:
            "SF Pro JP", "SF Pro Text", "SF Pro Icons",
            "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
            "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial",
            sans-serif;
    }
    header {
        @apply w-full;
    }
    *:not(.box-content) {
        @apply box-border;
    }
    :focus {
        outline: 2px solid #0071e3;
    }
    button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
        cursor: pointer;
    }

    input,
    textarea {
        @apply text-[16px];
    }
}

@layer components {
    .reset {
        all: unset;
    }
    ul.reset,
    ol.reset {
        all: unset;
        @apply list-none;
    }
    a.reset {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    [data-toggle-nav][data-open-nav="true"] #line1 {
        transform: translateY(0.375rem) rotate(40deg);
    }
    [data-toggle-nav][data-open-nav="true"] #line2 {
        transform: scaleX(0);
        opacity: 0;
    }
    [data-toggle-nav][data-open-nav="true"] #line3 {
        transform: translateY(-0.375rem) rotate(-40deg);
    }

    [data-nav-overlay][data-is-visible="true"] {
        visibility: visible;
        display: flex;
    }

    .glass {
        background: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(35px);
    }

    .glass-card {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(35px);
        border-radius: 20px;
        /* border: 2px solid rgba(255, 255, 255, 0.1); */
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
        /* padding: 30px 30px 30px 30px; */
    }
    :root {
        --h-navbutton-color: var(--color-base);
    }
}

@import "tailwindcss/utilities.css" layer(utilities);
