---
import Container from "../Container.astro";
import Title from "../basic/Title.astro";
import ServiceCopyTextCard from "./components/ServiceCopyTextCard.astro";
import type { TextDescription } from "../basic/Paragraph.astro";
import Tag from "../Tag.astro";

export interface Props {
    className?: string;
    title: string | TextDescription[];
    section: string;
    leading: string;
}

const { className, title, section, leading } = Astro.props;
---

<section id="services" class={`bg-accent-50 py-20 ${className}`}>
    <Container size="wide">
        <Tag><Title level="2">{section}</Title></Tag>
    </Container>
    <Container size="wide">
        <div
            class="grid grid-col-1 md:grid-cols-3 lg:grid-cols-4 gap-y-2 gap-x-4"
        >
            <ServiceCopyTextCard
                className="md:col-span-2 flex flex-col"
                title={title}
                leading={leading}
            />
            <slot />
        </div>
    </Container>
</section>
