---
import Container from "../Container.astro";
import Tag from "../Tag.astro";
import { INNOVATIONS } from "../../consts";
import { extendClass } from "../../utils";
import InnovationCard from "./components/InnovationCard.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<section id="innovations" class={extendClass("pt-20 md:pb-20", className)}>
    <Container
        className="mx-auto flex flex-col items-center justify-center text-center"
    >
        <Tag>{INNOVATIONS.section}</Tag>
    </Container>
    <div class="*:odd:bg-base-100">
        {
            INNOVATIONS.innovations.map((props, index) => (
                <InnovationCard {...props} reverse={index % 2 === 0} />
            ))
        }
    </div>
</section>
