---
import Title from "../../basic/Title.astro";
import { type TextDescription } from "../../basic/Text.astro";
import LazyImage from "../../basic/LazyImage.astro";
import Paragraph from "../../basic/Paragraph.astro";
import { extendClass } from "../../../utils";
import Container from "../../Container.astro";

export interface Props {
    className?: string;
    title: string;
    description: (string | (string | TextDescription)[])[];
    visual: ImageMetadata;
    reverse?: boolean;
}
const { title, description, visual, reverse, className } = Astro.props;
const flexRow = reverse ? "md:order-1" : "md:order-0";
---

<div>
    <Container
        className={extendClass(
            "md:grid md:grid-cols-2 gap-12 py-20",
            className,
        )}
    >
        <div class={flexRow}>
            <Title level="2" className="text-center">{title}</Title>
            <Paragraph className="mt-8" text={description} />
        </div>
        <div class="relative max-md:h-48">
            <LazyImage
                src={visual}
                alt="banner image"
                className="min-w-0 rounded-4xl overflow-hidden md:absolute h-full w-full"
            />
        </div>
    </Container>
</div>
