---
import { extendClass } from "../utils";

export interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div
    class={extendClass(
        "max-max-content:px-padding max-content:w-content mx-auto",
        className,
    )}
>
    <slot />
</div>
