---
import NavButton from "./basic/NavButton.astro";
import { Image } from "astro:assets";
import Text from "./basic/Text.astro";
import { extendClass } from "../utils";
import { SITE } from "../consts";

interface Props {
    className?: string;
    navigations: { label: string; url: string }[];
}

const { navigations, className } = Astro.props;
---

<header
    id="header"
    class={extendClass(
        "fixed h-header max-content:bg-accent-50 z-100 transition-all duration-300",
        className,
    )}
>
    <nav
        class="h-full max-max-content:mx-padding max-w-content gap-6 relative mx-auto grid max-md:grid-cols-2 max-md:grid-rows-(--spacing-header)"
    >
        <div class="min-w-max inline-flex relative">
            <a href="/" class="reset text-2xl font-bold flex items-center">
                <!-- logo -->
                <!-- <Image
                    width="200"
                    height="48"
                    src=""
                    alt=""
                /> -->
                <Text text={SITE.company} />
            </a>
        </div>

        <ul
            class="reset max-md:invisible flex items-center grow md:justify-end md:gap-6 md:col-start-2 md:row-start-1"
        >
            {
                navigations.map(({ label, url }) => (
                    <li class="max-md:my-3">
                        <a
                            href={url}
                            class="reset font-medium hover:text-primary-400"
                        >
                            {label}
                        </a>
                    </li>
                ))
            }
        </ul>

        <!-- Navbar toggle -->
        <NavButton
            id="nav-toggle"
            srOnly="Toggle Navigation"
            className="w-10 text-accent justify-self-end col-start-2 row-start-1"
        />
    </nav>
</header>

<style>
    @reference "../styles/global.css";
    @layer components {
        body.nav-open {
            overflow: hidden !important;
        }
        body.nav-open header {
            @apply h-dvh! bg-accent-50/85! backdrop-blur-[16px];
        }
        body.nav-open nav {
            @apply grid-rows-[var(--spacing-header)_auto];
        }
        body.nav-open ul {
            @apply visible! col-start-1! col-span-2! row-start-2! pb-header flex-col items-start;
        }
        body.nav-open #nav-toggle {
            @apply col-start-2 row-start-1;
        }
    }
</style>

<script>
    import { createObserver } from "../utils";
    const hero = document.getElementById("hero");
    const headerNav = document.getElementById("header");
    const toggleMenu = document.getElementById("nav-toggle");
    if (hero) {
        const observer = createObserver((entry) => {
            const scrollY = entry[0].boundingClientRect.y;
            if (scrollY < -50) {
                headerNav?.classList.add("bg-accent-50");
            } else {
                headerNav?.classList.remove("bg-accent-50");
            }
        });
        observer.observe(hero);
    }
    toggleMenu?.addEventListener("click", (event) => {
        event.preventDefault();
        document.body.classList.toggle("nav-open");
    });
</script>
