---
import { extendClass } from "../utils";

interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<div
    class={extendClass(
        "border border-primary bg-primary/20 text-primary-800 dark:text-primary text-[14px] font-bold leading-tight rounded-full mb-10 w-fit py-1 px-2",
        className,
    )}
>
    <slot />
</div>
